.table-container {
  display: grid;
  place-items: center;
}
.table-label {
  font-size: 12px !important;
  font-weight: 900;
}
.table-data {
  font-size: 10px !important;
}
.table-data.state {
  font-size: 13px !important;
  font-weight: 900;
}
.table-data.yes {
  color: #15a92e;
}
.table-data.no {
  color: #a21111;
}
.empty-students {
  width: 300%;
  font-size: 15px !important;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
.delete-icon {
  width: 20px;
  height: 20px;
}
.delete-icon:hover {
    color: #a21111;
}
