.table-data.state {
  font-size: 16px !important;
  font-weight: 900;
}
.table-data.yes {
  color: #15a92e;
}
.table-data.no {
  color: #a21111;
}

.delete-icon,
.details-icon {
  width: 20px;
  height: 20px;
}

@media (min-width: 768px) {
  .delete-icon:hover {
    color: #a21111;
  }
  .details-icon:hover {
    color: #0631b3;
  }
}
