:root {
  --backgroundColor1: #666;
  --backgroundColor2: rgb(39, 37, 37);
  --fontColor1: rgb(247, 235, 235);
  --fontColor2: rgb(255, 255, 255);
}
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
