body {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}
h2 {
  font-size: 60px;
  margin: 0;
}
.question {
  font-size: 25px;
  align-self: flex-start;
  text-align: left;
}
label {
  font-size: 20px;
  text-align: left;
}
.questions-container {
    gap: 10px;
}
.question-container {
  width: 90%;
  margin: 0 auto;
  padding: 10px;
  border-radius: 20px;
  border: 1px solid white;
}
form {
  width: 100%;
  margin-top: 0;
  gap: 20px;
}
.answer-contanier {
  width: 95%;
  border: 1px solid white;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.right {
  background-color: rgb(14, 135, 78);
}
.wrong {
  background-color: rgb(201, 23, 16);
}

p {
  margin: 0;
}

input[type="radio"][disabled]{
  opacity: 0.4;
  appearance: auto;
}
input[type="radio"][disabled]:checked{
  transform: scale(1.3);
  opacity: 1;
  appearance: auto;
}
.empty-answers-text{
  font-size: 20px;
  color: rgb(201, 23, 16);;
}