.QuestionPage {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: var(--backgroundColor1);
  color: var(--fontColor2);
}
.questions-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.questions-container > button {
  min-height: 50px;
  min-width: 130px;
  color: var(--fontColor2);
  font-size: 20px;
  border-radius: 8px;
  border: 1px solid transparent;
  font-weight: 700;
  background-color: var(--backgroundColor2);
  cursor: pointer;
}
.questions-container > button:focus,
.questions-container > button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (min-width: 768px) {
  .questions-container > button:hover {
    transition: font-size 0.25s;
    font-size: 22px;
  }
}

.questions-container > h2 {
  font-size: 40px;
  text-align: center;
}
.question-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 80%;
  max-width: 600px;
  padding: 20px;
  border-radius: 20px;
  border: 1px solid white;
}
.question {
  font-size: 25px;
  align-self: flex-start;
  text-align: left;
}
.answer-contanier {
  width: 100%;
  display: flex;
  flex-direction: row;
  border: 1px solid white;
  border-radius: 10px;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
}
.right {
  background-color: rgb(14, 135, 78);
}
.wrong {
  background-color: rgb(201, 23, 16);
}
.empty-answers-text {
  font-size: 20px;
  color: rgb(201, 23, 16);
}
.answer-state-container {
  display: flex;
  flex-direction: row;
  gap: 0px;
}
.answer-state-container > svg {
  width: 30px;
  height: 30px;
}
.answer-contanier > label {
  font-size: 20px;
  text-align: left;
}
.score {
  font-size: 40px;
  text-align: center;
}
